<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <context:property-placeholder location="classpath:env.properties,classpath:config.properties"/>

    <context:annotation-config/>

    <context:component-scan base-package="com.qgutech.fs">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="maxPoolSize" value="${fs.taskExecutor.maxPoolSize}"/>
        <property name="queueCapacity" value="${fs.taskExecutor.queueCapacity}"/>
        <property name="corePoolSize" value="${fs.taskExecutor.corePoolSize}"/>
    </bean>

    <bean class="com.qgutech.fs.utils.PropertiesUtils">
        <property name="serverCode" value="${fs.serverCode}"/>
        <property name="serverSecret" value="${fs.serverSecret}"/>
        <property name="urlExpireTime" value="${fs.urlExpireTime}"/>
        <property name="signLevel" value="${fs.signLevel}"/>
        <property name="serverHost" value="${fs.serverHost}"/>
        <property name="saveFileUrl" value="${fs.saveFileUrl}"/>
        <property name="deleteFileUrl" value="${fs.deleteFileUrl}"/>
        <property name="updateFileUrl" value="${fs.updateFileUrl}"/>
        <property name="upload" value="${fs.upload}"/>
        <property name="download" value="${fs.download}"/>
        <property name="convert" value="${fs.convert}"/>
        <property name="fileStoreDir" value="${fs.fileStoreDir}"/>
        <property name="imageType" value="${fs.imageType}"/>
        <property name="videoType" value="${fs.videoType}"/>
        <property name="audioType" value="${fs.audioType}"/>
        <property name="zipType" value="${fs.zipType}"/>
        <property name="cutImageTime" value="${fs.cutImageTime}"/>
        <property name="docConvert" value="${fs.docConvert}"/>
        <property name="asyncUrl" value="${fs.asyncUrl}"/>
        <property name="backUri" value="${fs.backUri}"/>
        <property name="httpProtocol" value="${fs.httpProtocol}"/>
    </bean>

    <!-- jedis连接池 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--<property name="maxTotal" value="20"/>-->
        <property name="maxIdle" value="${jedis.maxIdle}"/>
        <property name="maxWaitMillis" value="${jedis.maxWaitMillis}"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <bean name="fsRedis" class="com.qgutech.fs.utils.FsRedis" lazy-init="false">
        <property name="commonJedis">
            <bean class="com.qgutech.fs.utils.RedisFactoryBean">
                <constructor-arg index="0" ref="jedisPoolConfig"/>
                <constructor-arg index="1" value="${commonRedisUrl}"/>
                <constructor-arg index="2" value="${commonRedisPort}"/>
            </bean>
        </property>
    </bean>

    <bean id="converter" abstract="true" class="com.qgutech.fs.convert.AbstractConverter">
        <property name="serverType" value="${fs.serverType}"/>
    </bean>

    <bean id="docToPdfConverter" parent="converter" class="com.qgutech.fs.convert.DocToPdfConverter">
    </bean>

    <bean id="pdfToImageConverter" parent="converter" class="com.qgutech.fs.convert.PdfToImageConverter">
        <property name="taskExecutor" ref="taskExecutor"/>
        <property name="semaphoreCnt" value="${fs.pdfToImage.semaphoreCnt}"/>
        <property name="pdfSplitSize" value="${fs.pdfToImage.pdfSplitSize}"/>
        <property name="convertToolPath" value="${fs.pdfToImage.convertToolPath}"/>
    </bean>

    <bean id="processor" abstract="true" class="com.qgutech.fs.processor.AbstractProcessor">
        <property name="taskExecutor" ref="taskExecutor"/>
    </bean>

    <bean id="docProcessor" parent="processor" class="com.qgutech.fs.processor.DocProcessor">
        <property name="docToPdfConverter" ref="docToPdfConverter"/>
        <property name="pdfToImageConverter" ref="pdfToImageConverter"/>
    </bean>


    <bean id="processorFactory" class="com.qgutech.fs.processor.ProcessorFactory">
        <property name="docProcessor" ref="docProcessor"/>
    </bean>

</beans>