<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <context:property-placeholder location="classpath:env.properties,classpath:config.properties"/>

    <context:annotation-config/>

    <context:component-scan base-package="com.qgutech.fs">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="maxPoolSize" value="${fs.taskExecutor.maxPoolSize}"/>
        <property name="queueCapacity" value="${fs.taskExecutor.queueCapacity}"/>
        <property name="corePoolSize" value="${fs.taskExecutor.corePoolSize}"/>
    </bean>

    <bean class="com.qgutech.fs.utils.PropertiesUtils">
        <property name="serverCode" value="${fs.serverCode}"/>
        <property name="serverSecret" value="${fs.serverSecret}"/>
        <property name="urlExpireTime" value="${fs.urlExpireTime}"/>
        <property name="signLevel" value="${fs.signLevel}"/>
        <property name="serverHost" value="${fs.serverHost}"/>
        <property name="saveFileUrl" value="${fs.saveFileUrl}"/>
        <property name="updateFileUrl" value="${fs.updateFileUrl}"/>
        <property name="upload" value="${fs.upload}"/>
        <property name="download" value="${fs.download}"/>
        <property name="convert" value="${fs.convert}"/>
        <property name="fileStoreDir" value="${fs.fileStoreDir}"/>
    </bean>

</beans>