<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/mvc 
	 http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="webBindingInitializer">
            <bean class="com.qgutech.fs.utils.FsWebBindingInitializer"/>
        </property>
    </bean>

    <mvc:annotation-driven/>

    <!-- 读取jdbc.properties文件 -->
    <context:property-placeholder location="classpath:env.properties,classpath:*.properties"/>

    <!-- 把请求映射到controller -->
    <context:component-scan base-package="com.qgutech.fs">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 文件上传 视图解析器-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!--<property name="maxUploadSize" value="10240000000"/>
        <property name="maxInMemorySize" value="20"/>-->
    </bean>

    <mvc:resources mapping="/pages/**" location="/pages/"/>

    <context:component-scan base-package="com.qgutech.fs"/>
    <bean id="fileServerServiceExp" class="com.tbc.soa.remote.impl.HttpRemoteServiceExporter" lazy-init="false">
        <property name="targetService" ref="fileServerService"/>
    </bean>

    <bean id="publicUrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <!-- Different interface use same implementation -->
            <value>
                /service/com.qgutech.fs.service.FileServerService=fileServerServiceExp
            </value>
        </property>
        <property name="alwaysUseFullPath">
            <value>false</value>
        </property>
        <property name="order" value="10"/>
    </bean>
</beans>